extends layout.pug

block append stylesheets
  //-<link defer href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link defer href="/stylesheets/carousel.css" rel="stylesheet">
  <link defer href="/stylesheets/profileImage.css" rel="stylesheet">
  <link defer href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

  //- stylesheets for video table
  link(rel='stylesheet' defer, href='/stylesheets/bootstrap-grid.css')
  link(rel='stylesheet' defer, href='/stylesheets/bootstrap-reboot.css')
  link(rel='stylesheet' defer, href='/stylesheets/projectBoxes.css')


block content
        section.normal-page-container
          .profile-header-img
            picture
              source(srcset="images/profielfoto.webp" type="image/webp")
              img.img-circle(src='/images/profielfoto.jpg' type="image/jpeg")
            // badge
            .rank-label-container
              span.label.label-default.label-green.rank-label Amber Elferink
            .rank-label-subcontainer
              span.label.label-default.label-green.rank-label Master student Robotics (TU Delft) and Game & Media Technology (Utrecht University)
          .belowRaised
            h1 #{title}
            p.
              My name is Amber and I absolutely love #[strong developing Virtual Reality, haptics, telerobotics and locomotion] solutions. 
            p.   
              In 2018 my interests shifted towards moving and feeling in Virtual Reality (VR) realistically. 
              With haptics the user experiences the forces of the virtual world, while locomotion solutions give the user the possibility to walk indefinitely.
              Additionally, this method is the most natural way to give input to a computer or robots, leading the way towards intuitive telerobotics.
              Enabling natural reflexes and sensing feedback with your body opens up many possibilities for both virtual and physical remote interactions.
            p.      
              Since this is a young technology, there is a lot to be done to connect that world to ours. 
              In my spare time I am always meddling in projects relating to VR haptics, locomotion and telerobotics. 
              My ultimate goal is to develop a solution to walk infinitely in virtual space, while staying within your small living room. It should feel natural and provide haptic feedback.
            p.
              After finishing my chemistry bachelor, I wanted to continue my studies and completed a 1.5 year computer science minor. 
              Programming computers, robots and Arduino's has always interested me. 
              Currently I pursue a double master Robotics (TU Delft) & Game and Media Technology (Utrecht University).
            p.  
              In September 2021 I am #[strong looking for an internship] in this area, while starting November 2021 I am #[strong looking for a master thesis] topic.
              For both I hope to find a professor and company that shares similar aspirations. 
            p.
              Before the haptic exoskeleton will be brought to life, I have a lot to learn. 
              And since I love learning, that seems like a great thing to do!

            h2 Haptic solutions that inspire me
            .row
              .col-lg-4.col-sm-6.portfolio-item
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px"
                        src='http://www.youtube.com/embed/R-sP_pju81E?playlist=R-sP_pju81E&autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://haptx.com/' target='_blank') HaptX telerobotics
              .col-lg-4.col-sm-6.portfolio-item
                .card.h-100  
                  a(href='#').div-img-top
                    picture
                      source(srcset="/images/haptx-dk2-glove.webp" type="image/webp")
                      img.card-img-top(src='/images/haptx-dk2-glove.jpg', alt='HaptX dk2 glove haptic feedback for VR' type="image/png")
                  .card-body
                        h4.card-title
                          a(href='https://haptx.com/' target='_blank') HaptX DK2 glove
              .col-lg-4.col-sm-6.portfolio-item
                .card.h-100  
                  a(href='#').div-img-top
                    picture
                      source(srcset="/images/sense-glove-nova.webp" type="image/webp")
                      img.card-img-top(src='/images/sense-glove-nova.jpg', alt='Sense glove nova haptic feedback for VR' type="image/png")
                  .card-body
                        h4.card-title
                          a(href='https://www.senseglove.com/' target='_blank') SenseGlove Nova

            h2 Locomotion solutions that inspire me
            .row
              .col-lg-4.col-sm-6.portfolio-item
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px"
                        src='http://www.youtube.com/embed/o3G7U91w8tM?playlist=o3G7U91w8tM&autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://www.holotron.com/' target='_blank') Holotron                
              .col-lg-4.col-sm-6.portfolio-item  
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px"
                        src='http://www.youtube.com/embed/jk-3kZ7ytZs?playlist=jk-3kZ7ytZs&start=110&autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://haptx.com/' target='_blank') AxonVR (now HaptX)
              .col-lg-4.col-sm-6.portfolio-item  
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px"
                        src='http://www.youtube.com/embed/QlfW1nK9fcE?playlist=QlfW1nK9fcE&start=5&autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://www.researchgate.net/publication/3430844_Design_and_Evaluation_of_the_LOPES_Exoskeleton_Robot_for_Interactive_Gait_Rehabilitation' target='_blank') LOPES rehabilitation exoskeleton
              .col-lg-4.col-sm-6.portfolio-item  
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px"
                        src='http://www.youtube.com/embed/HzFsZTJWTsU?playlist=HzFsZTJWTsU&autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://www.youtube.com/channel/UCYRJRdiTNVbdeN0f29MHHIg' target='_blank') VR shoes project by FreeaimVR
              .col-lg-4.col-sm-6.portfolio-item  
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px"
                        src='http://www.youtube.com/embed/Ddpm-WE1sXg?playlist=Ddpm-WE1sXg&autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://hackaday.io/project/177221-virtual-reality-motorized-shoes' target='_blank') VR shoes project by FinallyFunctional
              .col-lg-4.col-sm-6.portfolio-item  
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px"
                        src='http://www.youtube.com/embed/AnBbtkxZBRI?playlist=AnBbtkxZBRI&start=5&autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='http://eva.vrlab.esys.tsukuba.ac.jp/' target='_blank') Powered shoes by University of Tsukaba




        section.working-exp
          h1 Working experience
          <button class ="btn-inline" onclick="window.open('/files/Curriculum vitae - Amber Elferink.pdf', '_blank');"><i class="fa fa-download"></i> Download CV </button>
          <button class ="btn-inline btn-highlight" onclick="parent.location='/projects'"><i class="fa fa-files-o"></i> View my projects </button>
          <button class ="btn-inline" onclick="parent.location='/workexperience'"><i class="fa fa-briefcase"></i> Work experience </button>
        