extends layout.pug

block append stylesheets
  //-<link defer href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link defer href="/stylesheets/carousel.css" rel="stylesheet">
  <link defer href="/stylesheets/profileImage.css" rel="stylesheet">
  <link defer href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

  //- stylesheets for video table
  link(rel='stylesheet' defer, href='/stylesheets/bootstrap-grid.css')
  link(rel='stylesheet' defer, href='/stylesheets/bootstrap-reboot.css')
  link(rel='stylesheet' defer, href='/stylesheets/projectBoxes.css')


block content
        section.normal-page-container
          .profile-header-img
            picture
              source(srcset="images/profile_picture.webp" type="image/webp")
              img.img-circle(src='/images/profile_picture.jpg' type="image/jpeg")
            // badge
            .rank-label-container
              span.label.label-default.label-green.rank-label Amber Elferink
            .rank-label-subcontainer
              span.label.label-default.label-green.rank-label Master student Robotics (TU Delft) and Game & Media Technology (Utrecht University)
          .belowRaised
            h1 #{title}
            p.
              My name is Amber. My goal is to make VR as immersive as possible, for as many people as possible.
              I absolutely love #[strong solving technological challenges for Virtual Reality (VR)]. 
              So far, I have worked on projects related to locomotion (walking in VR), haptics (feeling VR), and telerobotics (controlling objects from distances) using devices.
            p.   
              In 2018 my interests shifted towards moving and feeling in Virtual Reality (VR) naturally. 
              Locomotion solutions give people the ability to walk indefinitely in VR, while staying in a small room physically, while with haptics we can feel virtual objects.
              These technologies make our interactions with the virtual world more natural, and lead towards intuitive and immersive VR experiences, training, telerobotics and rehabilitation.
              Enabling natural reflexes and sensing with our own body instead of through only through a screen opens up many possibilities for both virtual and physical remote interactions.
              Since this is a young technology, there is a lot to be done to connect the virtual world to ours. 
            p.
              Programming computers, robots and Arduino's has always interested me.  In my spare time I am always meddling in projects relating to VR haptics, locomotion and telerobotics. 
              After first trying VR and seeing its potential I fully switched my education towards it.
              Currently I pursue a double master Robotics (TU Delft) & Game and Media Technology (Utrecht University).
            p.
              For my master thesis I am working with #[a(href="http://freeaim.com" target="_blank") Freeaim VR shoes] (also see video below). 
              Freeaim VR shoes aim to create a natural feeling of walking in VR, while being afforable and convenient. 
              I am researching the best movement mapping from the physical movement to the virtual movement. Additionally, I built the PC side including the Bluetooth communication system of the shoes.  
              I am excited to to hear about opportunities after I will finish my master end November 2022. 

            p. 
              I'm always happy to connect with likeminded people. Feel free to send me a connection request on #[a(href="https://www.linkedin.com/in/amber-elferink/" target="_blank") LinkedIn]. Let's create immersive VR!



            h2 Locomotion solutions that inspire me
            .row
              .col-lg-4.col-sm-6.portfolio-item  
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px" allowfullscreen
                        src='http://www.youtube.com/embed/6Q5PjokpVcE?loop=1&autoplay=1&rel=0&mute=1&showinfo=0&color=white&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0'
                        allow="encrypted-media")
                  .card-body
                        h4.card-title
                          a(href='https://www.freeaim.com/' target='_blank') Freeaim VR shoes
              .col-lg-4.col-sm-6.portfolio-item  
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px" allowfullscreen
                        src='http://www.youtube.com/embed/Ddpm-WE1sXg?loop=1&autoplay=1&rel=0&mute=1&showinfo=0&color=white&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://hackaday.io/project/177221-virtual-reality-motorized-shoes' target='_blank') VR shoes project by FinallyFunctional
              .col-lg-4.col-sm-6.portfolio-item  
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px" allowfullscreen
                        src='http://www.youtube.com/embed/AnBbtkxZBRI?loop=1&autoplay=1&rel=0&mute=1&showinfo=0&color=white&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='http://eva.vrlab.esys.tsukuba.ac.jp/' target='_blank') Powered shoes by University of Tsukaba

            h2 Haptic solutions that inspire me
            .row
              .col-lg-4.col-sm-6.portfolio-item
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px" allowfullscreen
                        src='http://www.youtube.com/embed/R-sP_pju81E?loop=1&autoplay=1&rel=0&mute=1&showinfo=0&color=white&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://haptx.com/' target='_blank') HaptX, Shadow and SynTouch telerobotics
              .col-lg-4.col-sm-6.portfolio-item
                .card.h-100  
                  a(href='https://www.senseglove.com/' target='_blank').div-img-top
                    iframe(type='text/html' width="100%" height="250px" allowfullscreen
                          src='http://www.youtube.com/embed/TajCGQJTrT8?loop=1&autoplay=1&rel=0&mute=1&showinfo=0&color=white&playsinline=1&origin=http://www.amberelferink.com/'
                          frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://www.senseglove.com/' target='_blank') SenseGlove Nova
              .col-lg-4.col-sm-6.portfolio-item
                .card.h-100  
                  a(href='https://haptx.com/' target='_blank').div-img-top
                    iframe(type='text/html' width="100%" height="250px" allowfullscreen
                          src='http://www.youtube.com/embed/NJwFG0EoS7E?loop=1&autoplay=1&rel=0&mute=1&showinfo=0&color=white&playsinline=1&origin=http://www.amberelferink.com/'
                          frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://haptx.com/' target='_blank') HaptX DK2 glove



            h2 Exoskeleton solutions that inspire me
            .row
              .col-lg-4.col-sm-6.portfolio-item
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px" allowfullscreen
                        src='http://www.youtube.com/embed/o3G7U91w8tM?loop=1&autoplay=1&rel=0&mute=1&showinfo=0&color=white&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://www.holotron.com/' target='_blank') Holotron                
              .col-lg-4.col-sm-6.portfolio-item  
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px" allowfullscreen
                        src='http://www.youtube.com/embed/jk-3kZ7ytZs?loop=1&autoplay=1&rel=0&mute=1&showinfo=0&color=white&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://haptx.com/' target='_blank') AxonVR (now HaptX)
              .col-lg-4.col-sm-6.portfolio-item  
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px" allowfullscreen
                        src='http://www.youtube.com/embed/QlfW1nK9fcE?loop=1&autoplay=1&rel=0&mute=1&showinfo=0&color=white&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://www.researchgate.net/publication/3430844_Design_and_Evaluation_of_the_LOPES_Exoskeleton_Robot_for_Interactive_Gait_Rehabilitation' target='_blank') LOPES rehabilitation exoskeleton
              

            //- div(style="text-align:center;")
            //-     picture(float width="500px")
            //-       a(href='/projects')
            //-         source(srcset="/images/Projects_image.webp" type="image/webp")
            //-         img(src='/images/Projects_image.jpg', alt='View projects here' type="image/jpeg")
            //-     picture(float width="500px")
            //-       a(href='/workexperience')
            //-         source(srcset="/images/Workexperience_image.webp" type="image/webp")
            //-         img(src='/images/Workexperience_image.jpg', alt='View education and workexperience here' type="image/jpeg")

        section.working-exp
          //- h1 Working experience
          <button class ="btn-inline" onclick="parent.location='/workexperience'"><i class="fa fa-briefcase"></i> Work experience </button>
          <button class ="btn-inline btn-highlight" onclick="parent.location='/projects'"><i class="fa fa-files-o"></i> View my projects </button>
          <button class ="btn-inline" onclick="window.open('/files/Curriculum vitae - Amber Elferink.pdf', '_blank');"><i class="fa fa-download"></i> Download CV </button>
        