extends layout.pug

block append stylesheets
  //-<link defer href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link defer href="/stylesheets/carousel.css" rel="stylesheet">
  <link defer href="/stylesheets/profileImage.css" rel="stylesheet">
  <link defer href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

  //- stylesheets for video table
  link(rel='stylesheet' defer, href='/stylesheets/bootstrap-grid.css')
  link(rel='stylesheet' defer, href='/stylesheets/bootstrap-reboot.css')
  link(rel='stylesheet' defer, href='/stylesheets/projectBoxes.css')


block content
        section.normal-page-container
          .profile-header-img
            picture
              source(srcset="images/profielfoto.webp" type="image/webp")
              img.img-circle(src='/images/profielfoto.jpg' type="image/jpeg")
            // badge
            .rank-label-container
              span.label.label-default.label-green.rank-label Amber Elferink
            .rank-label-subcontainer
              span.label.label-default.label-green.rank-label Master student Robotics (TU Delft) and Game & Media Technology (Utrecht University)
          .belowRaised
            h1 #{title}
            p.
              My name is Amber and I absolutely love #[strong developing Virtual Reality, haptics, telerobotics and locomotion] solutions. 
            p.   
              In 2018 my interests shifted towards moving and feeling in Virtual Reality (VR) realistically. 
              With haptics the user experiences the forces of the virtual world, while locomotion solutions give the user the possibility to walk indefinitely.
              Additionally, this method is the most natural way to give input to a computer or robots, leading the way towards intuitive telerobotics.
              Enabling natural reflexes and sensing feedback with your body opens up many possibilities for both virtual and physical remote interactions.
            p.      
              Since this is a young technology, there is a lot to be done to connect that world to ours. 
              In my spare time I am always meddling in projects relating to VR haptics, locomotion and telerobotics. 
              My ultimate goal is to develop a solution to walk infinitely in virtual space, while staying within your small living room. It should feel natural and provide haptic feedback.
            p.
              After finishing my chemistry bachelor, I wanted to continue my studies and completed a 1.5 year computer science minor. 
              Programming computers, robots and Arduino's has always interested me. 
              Currently I pursue a double master Robotics (TU Delft) & Game and Media Technology (Utrecht University).
            p.  
              In September I am #[strong looking for an internship] in this area, while starting November I am #[strong looking for a master thesis] topic.
              For both I hope to find a professor and company that shares similar aspirations. 
            p.
              Before the haptic exoskeleton will be brought to life, I have a lot to learn. 
              And since I love learning, that seems like a great thing to do!

            h2 Locomotion solutions that inspire me
            .row
              .col-lg-4.col-sm-6.portfolio-item
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px"
                        src='http://www.youtube.com/embed/o3G7U91w8tM?autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://www.holotron.com/' target='_blank') Holotron                
              .col-lg-4.col-sm-6.portfolio-item  
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px"
                        src='http://www.youtube.com/embed/jk-3kZ7ytZs?start=110&autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://haptx.com/' target='_blank') AxonVR (now HaptX)
              .col-lg-4.col-sm-6.portfolio-item  
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px"
                        src='http://www.youtube.com/embed/QlfW1nK9fcE?start=5&autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://www.researchgate.net/publication/3430844_Design_and_Evaluation_of_the_LOPES_Exoskeleton_Robot_for_Interactive_Gait_Rehabilitation' target='_blank') LOPES rehabilitation exoskeleton
              .col-lg-4.col-sm-6.portfolio-item  
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px"
                        src='http://www.youtube.com/embed/HzFsZTJWTsU?autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://www.youtube.com/channel/UCYRJRdiTNVbdeN0f29MHHIg' target='_blank') VR shoes project by FreeaimVR
              .col-lg-4.col-sm-6.portfolio-item  
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px"
                        src='http://www.youtube.com/embed/Ddpm-WE1sXg?autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='https://hackaday.io/project/177221-virtual-reality-motorized-shoes' target='_blank') VR shoes project by FinallyFunctional
              .col-lg-4.col-sm-6.portfolio-item  
                .card.h-100  
                  a(href='#').div-img-top
                    iframe(type='text/html' width="100%" height="250px"
                        src='http://www.youtube.com/embed/AnBbtkxZBRI?start=5&autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/'
                        frameborder='0')
                  .card-body
                        h4.card-title
                          a(href='http://eva.vrlab.esys.tsukuba.ac.jp/' target='_blank') Powered shoes by University of Tsukaba
            h2 Haptic solutions that inspire me
            .row
              .col-lg-4.col-sm-6.portfolio-item
                .card.h-100  
                  a(href='#').div-img-top
                    picture
                      source(srcset="/images/haptx-dk2-glove.webp" type="image/webp")
                      img.card-img-top(src='/images/haptx-dk2-glove.jpg', alt='HaptX dk2 glove haptic feedback for VR' type="image/png")
                  .card-body
                        h4.card-title
                          a(href='https://haptx.com/' target='_blank') HaptX DK2 glove
              .col-lg-4.col-sm-6.portfolio-item
                .card.h-100  
                  a(href='#').div-img-top
                    picture
                      source(srcset="/images/sense-glove-nova.webp" type="image/webp")
                      img.card-img-top(src='/images/sense-glove-nova.jpg', alt='Sense glove nova haptic feedback for VR' type="image/png")
                  .card-body
                        h4.card-title
                          a(href='https://www.senseglove.com/' target='_blank') SenseGlove Nova

                                            




                
        //-adapted from: https://bootsnipp.com/snippets/featured/responsive-quote-carousel
        //------------------------CAROUSEL------------------------------
        .row
          .col-md-offset-2.col-md-8.text-center
            h1 Reviews from former employers
        .row.bordercarr
          .col-md-offset-2.col-md-8
            #quote-carousel.carousel.slide(data-ride='carousel')
              // Bottom Carousel Indicators
              ol.carousel-indicators
                li.active(data-target='#quote-carousel', data-slide-to='0')
                li(data-target='#quote-carousel', data-slide-to='1')
                li(data-target='#quote-carousel', data-slide-to='2')
                li(data-target='#quote-carousel', data-slide-to='3')

              // Carousel Slides / Quotes
              .carousel-inner
                // Quote 1
                .item.active
                  blockquote
                    .row
                      .col-sm-3.text-center
                        picture
                          source(srcset="/images/Portrait-ChristianKoppe.webp" type="image/webp" style='width: 100px;height:100px;')
                          img.img-circle(src='/images/Portrait-ChristianKoppe.jpg' type="image/jpeg" style='width: 100px;height:100px;')                      
                      .col-sm-9
                        p 
                          |Amber assisted me in various computer science modules for pupils from upper secondary education as part of the U-Talent programme at the Utrecht University. She helped the pupils during practical exercises and used her thorough knowledge of Arduino development, Unity, Sonic Pi and Processing in a very constructive, friendly and supportive way. Especially her proactive approach was valued by both me and the pupils.
                        small 
                          a(href="https://www.linkedin.com/in/christian-k%C3%B6ppe-0810529/" target="_blank")
                            <img class="inline LI-icon" src='/images/LinkedIn-Logo.png'> <span class="inline"> Christian Köppe - Lecturer Computer Science at the U-Talent program </span>
                .item
                  blockquote
                    .row
                      .col-sm-3.text-center
                        picture
                          source(srcset="/images/Portrait-PaulienVanBentum.webp" type="image/webp"  style='width: 100px;height:100px;')
                          img.img-circle(src='/images/Portrait-PaulienVanBentum.jpg' type="image/jpeg" style='width: 100px;height:100px;')                      
                      .col-sm-9
                        p
                          | Amber is a hardworking person and she takes her responsibilities seriously. 
                          | She is a real team player, because she solved multiple (unexpected) problems together with her teammates during a traveling chemistry practical. 
                          br
                          | She is sometimes a bit uncertain at the start of a new assignment, but she quickly acquires new knowledge and skills and her end results are very good. 
                          | She made, for example, a handy, accessible database of schools. 
                          br
                          | She shows initiative by proposing improvements, which were incorporated in a manual for assistants. 
                          | I'm very satisfied with her work and I highly recommend her for any endeavor she chooses to pursue!
                        small 
                          a(href="https://www.linkedin.com/in/paulien-van-bentum-1485aa51/" target="_blank")
                            <img class="inline LI-icon" src='/images/LinkedIn-Logo.png'> <span class="inline"> Paulien van Bentum, chemistry education coordinator - Utrecht University </span>


                // Quote 2
                .item
                  blockquote
                    .row
                      .col-sm-3.text-center
                        picture
                          source(srcset="/images/Portrait-PeterDuifhuis.webp" type="image/webp" style='width: 100px;height:100px;')
                          img.img-circle(src='/images/Portrait-PeterDuifhuis.jpg' type="image/jpeg" style='width: 100px;height:100px;')     
                      .col-sm-9
                        p.
                          Amber has worked with me as a student assistent in a short course for high school students about making projects with Arduino's and electrical components. With little help, Amber got to know the material beforehand (ie. building projects with the Arduino). Amber showed interest in the course and aligned her own approach to students with the goals and didactics. She was punctual, proactive in helping students and communicative concerning to where she did and didn't have the knowledge to help. So all in all: a great addition to the teaching team!
                        small 
                          a(href="https://www.linkedin.com/in/peter-duifhuis-2162998/" target="_blank")
                            <img class="inline LI-icon" src='/images/LinkedIn-Logo.png'> <span class="inline"> Peter Duifhuis - Coordinator U-talent Arduino course - Utrecht University </span>
                            
                // Quote 3
                .item
                  blockquote
                    .row
                      .col-sm-3.text-center
                        picture
                          source(srcset="/images/Portrait-ManonThijssen.webp" type="image/webp" style='width: 100px;height:100px;')
                          img.img-circle(src='/images/Portrait-ManonThijssen.jpg' type="image/jpeg" style='width: 100px;height:100px;')     
                      .col-sm-9
                        p
                          | As coordinator of Project Werfkracht where Amber participated as teaching assistant, I have learned to know her as a great student to work with. Amber is clear in her communication, is intelligent and quickly sees what is needed somewhere. She is patient and friendly and is always prepared to take on extra tasks. She works hard and good.
                        small 
                            span.inline Manon Thijssen - Coordinator Project Werfkracht - Utrecht University
              // Carousel Buttons Next/Prev
              a.left.carousel-control(data-slide='prev', href='#quote-carousel')
                i.fa.fa-chevron-left
              a.right.carousel-control(data-slide='next', href='#quote-carousel')
                i.fa.fa-chevron-right

        section.working-exp
          h1 Working experience
          <button class ="btn-inline" onclick="window.open('/files/Curriculum vitae - Amber Elferink.pdf', '_blank');"><i class="fa fa-download"></i> Download CV </button>
          <button class ="btn-inline btn-highlight" onclick="parent.location='/projects'"><i class="fa fa-files-o"></i> View my projects </button>
          <button class ="btn-inline" onclick="parent.location='/workexperience'"><i class="fa fa-briefcase"></i> Work experience </button>
        