extends layout.pug
block append stylesheets
  link(rel='stylesheet' defer, href='/stylesheets/bootstrap-grid.css')
  link(rel='stylesheet' defer, href='/stylesheets/bootstrap-reboot.css')
  link(rel='stylesheet' defer, href='/stylesheets/projectBoxes.css')
  link(rel='stylesheet' defer, href='/stylesheets/working-experience.css')
  <link defer href="/stylesheets/carousel.css" rel="stylesheet">
  <link defer href="/stylesheets/profileImage.css" rel="stylesheet">
  <link defer href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

//-images should be 700x464 to be the same size
block content
      section.work-overview
        //-adapted from: https://bootsnipp.com/snippets/featured/responsive-quote-carousel
        //------------------------CAROUSEL------------------------------
        .row
          .col-md-offset-2.col-md-8.text-center
            h1 Reviews from former employers
        .row.bordercarr
          .col-md-offset-2.col-md-8
            #quote-carousel.carousel.slide(data-ride='carousel')
              // Bottom Carousel Indicators
              ol.carousel-indicators
                li.active(data-target='#quote-carousel', data-slide-to='0')
                li(data-target='#quote-carousel', data-slide-to='1')
                li(data-target='#quote-carousel', data-slide-to='2')
                li(data-target='#quote-carousel', data-slide-to='3')

              // Carousel Slides / Quotes
              .carousel-inner
                // Quote 1
                .item.active
                  blockquote
                    .row
                      .col-sm-3.text-center
                        picture
                          source(srcset="/images/Portrait-ChristianKoppe.webp" type="image/webp" style='width: 100px;height:100px;')
                          img.img-circle(src='/images/Portrait-ChristianKoppe.jpg' type="image/jpeg" style='width: 100px;height:100px;')                      
                      .col-sm-9
                        p 
                          |Amber assisted me in various computer science modules for pupils from upper secondary education as part of the U-Talent programme at the Utrecht University. She helped the pupils during practical exercises and used her thorough knowledge of Arduino development, Unity, Sonic Pi and Processing in a very constructive, friendly and supportive way. Especially her proactive approach was valued by both me and the pupils.
                        small 
                          a(href="https://www.linkedin.com/in/christian-k%C3%B6ppe-0810529/" target="_blank")
                            <img class="inline LI-icon" src='/images/LinkedIn-Logo.png'> <span class="inline"> Christian Köppe - Lecturer Computer Science at the U-Talent program </span>
                .item
                  blockquote
                    .row
                      .col-sm-3.text-center
                        picture
                          source(srcset="/images/Portrait-PaulienVanBentum.webp" type="image/webp"  style='width: 100px;height:100px;')
                          img.img-circle(src='/images/Portrait-PaulienVanBentum.jpg' type="image/jpeg" style='width: 100px;height:100px;')                      
                      .col-sm-9
                        p
                          | Amber is a hardworking person and she takes her responsibilities seriously. 
                          | She is a real team player, because she solved multiple (unexpected) problems together with her teammates during a traveling chemistry practical. 
                          br
                          | She is sometimes a bit uncertain at the start of a new assignment, but she quickly acquires new knowledge and skills and her end results are very good. 
                          | She made, for example, a handy, accessible database of schools. 
                          br
                          | She shows initiative by proposing improvements, which were incorporated in a manual for assistants. 
                          | I'm very satisfied with her work and I highly recommend her for any endeavor she chooses to pursue!
                        small 
                          a(href="https://www.linkedin.com/in/paulien-van-bentum-1485aa51/" target="_blank")
                            <img class="inline LI-icon" src='/images/LinkedIn-Logo.png'> <span class="inline"> Paulien van Bentum, chemistry education coordinator - Utrecht University </span>


                // Quote 2
                .item
                  blockquote
                    .row
                      .col-sm-3.text-center
                        picture
                          source(srcset="/images/Portrait-PeterDuifhuis.webp" type="image/webp" style='width: 100px;height:100px;')
                          img.img-circle(src='/images/Portrait-PeterDuifhuis.jpg' type="image/jpeg" style='width: 100px;height:100px;')     
                      .col-sm-9
                        p.
                          Amber has worked with me as a student assistent in a short course for high school students about making projects with Arduino's and electrical components. With little help, Amber got to know the material beforehand (ie. building projects with the Arduino). Amber showed interest in the course and aligned her own approach to students with the goals and didactics. She was punctual, proactive in helping students and communicative concerning to where she did and didn't have the knowledge to help. So all in all: a great addition to the teaching team!
                        small 
                          a(href="https://www.linkedin.com/in/peter-duifhuis-2162998/" target="_blank")
                            <img class="inline LI-icon" src='/images/LinkedIn-Logo.png'> <span class="inline"> Peter Duifhuis - Coordinator U-talent Arduino course - Utrecht University </span>
                            
                // Quote 3
                .item
                  blockquote
                    .row
                      .col-sm-3.text-center
                        picture
                          source(srcset="/images/Portrait-ManonThijssen.webp" type="image/webp" style='width: 100px;height:100px;')
                          img.img-circle(src='/images/Portrait-ManonThijssen.jpg' type="image/jpeg" style='width: 100px;height:100px;')     
                      .col-sm-9
                        p
                          | As coordinator of Project Werfkracht where Amber participated as teaching assistant, I have learned to know her as a great student to work with. Amber is clear in her communication, is intelligent and quickly sees what is needed somewhere. She is patient and friendly and is always prepared to take on extra tasks. She works hard and good.
                        small 
                            span.inline Manon Thijssen - Coordinator Project Werfkracht - Utrecht University
              // Carousel Buttons Next/Prev
              a.left.carousel-control(data-slide='prev', href='#quote-carousel')
                i.fa.fa-chevron-left
              a.right.carousel-control(data-slide='next', href='#quote-carousel')
                i.fa.fa-chevron-right








      h1 Education
      section.work-overview
        .row
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#').div-img-top
                picture
                  source(srcset="/images/TUDelft-logo-robot.webp" type="image/webp")
                  img.card-img-top(src='/images/TUDelft-logo-robot.png' type="image/png" alt='TU Delft Robotics logo')  
              .card-body
                h4.card-title Robotics master
                h5.gpa Current grade 8.2/10
                h5.date September 2020 - July 2022 (expected)
                p.card-text
                  | Official prerequisites are a bachelor mechanical engineering. Therefore I started out with some deficiencies, but I quickly caught up. 
                  br
                  | Courses completed:
                #accordion
                  .card
                    .card-header
                      a.collapsed.card-link(data-toggle='collapse', href='#hri')
                        |  #[strong Human Robot Interaction]  (Matlab)
                    //- to toggle open on load, replace  #hri.collapse by hri.show.collapse.in and replace a.collapsed.card-link by
                    #hri.collapse(data-parent='#accordion') 
                      .card-body
                        | McRuer theory, Design cycle and metrics, ironies/pitfalls of automation, training and selection,
                        | haptic shared control, biosignals (eye tracking), tactile interfaces, motion comfort,
                        | interactive learning, social robots.
                  .card
                    .card-header
                      a.collapsed.card-link(data-toggle='collapse', href='#dynamics')
                        |  #[strong Dynamics & Control] (Python)
                    #dynamics.collapse(data-parent='#accordion')
                      .card-body
                        | Simulating double pendulum after deriving equations of motions (Langrange).
                        | Non-holonomic constraints and car derivations,
                        | PID controller trajectory control
                  .card
                    .card-header
                      a.collapsed.card-link(data-toggle='collapse', href='#ML')
                        | #[strong Machine Learning for robotics] (Python tensorflow)
                    #ML.collapse(data-parent='#accordion')
                      .card-body
                        | Regression, classification, Unsupervised learning, SVM's, Random Forest, Bayesian, PCA,
                        | Neural Networks.
                  .card
                    .card-header
                      a.collapsed.card-link(data-toggle='collapse', href='#MP')
                        | #[strong Machine Perception] (Python)
                    #MP.collapse(data-parent='#accordion')
                      .card-body
                        | Working with RADAR & LiDAR, stereo camera to 3D data, haptic sensors, 
                        | data filtering, particle, bayesian and kalman filters.
                  .card
                    .card-header
                      a.collapsed.card-link(data-toggle='collapse', href='#Planning')
                        | #[strong Planning and decision making] (Coppeliasim (V-rep) and Python)
                    #Planning.collapse(data-parent='#accordion')
                      .card-body
                        | Graph-search (Dijkstra/A*), RRT*, collision avoidance by potential fields,
                        | velocity obstacles. Trajectory optimization, MPC, uncertainty (MDP, POMDP) and multi robot planning.  
                  .card
                    .card-header
                      a.collapsed.card-link(data-toggle='collapse', href='#Electronics')
                        | #[strong Electronics for Physicists]
                    #Electronics.collapse(data-parent='#accordion')
                      .card-body
                        | Practical course on analog electronic basics in the lab. Topics include basic components, amplifiers signals, noise, interferance, microwaves, SPICE simulations, oscilloscopes, generators and network analyzers.      
                p.
                  Courses planned:
                ul
                  li Control in Human-Robot Interaction
                  li Applied Experimental Methods
                  li Multi-Disciplinary Project
                  li Musculoskeletal Modelling and Simulation
                  li Medical Device Prototyping 
                    | Developing force sensor for haptics for training in vessel phantoms
                  li Deep Learning
                  li Robots & Society
                  li Software Robotics Practicals 
                    br
                    | (Did not fit in P1 with Utrecht course)
                  
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#').div-img-top
                picture
                  source(srcset="/images/logo-uu-game.webp" type="image/webp")
                  img.card-img-top(src='/images/logo-uu-game.png' type="image/png" alt='Utrecht University Game and media technology logo')  
              .card-body
                h4.card-title Game and Media technology master 
                h5.gpa Current GPA 4.0/4.0, grade 8.46/10
                h5.date September 2019 - July 2022 (expected)
                p.card-text
                  | Mostly focussed on the fundamental engines behind games, not producing games (although I would be able to).
                  | For example, learning state-of-the-art methods on animation, graphics and physics engines. All courses are already completed:
                ul 
                  li #[strong Computer Vision] (C++, OpenCV, OpenGL, Tensorflow/python)
                    br 
                    | Tracking people in 3D by multiple cameras and recognition with machine learning.
                  li #[strong Computer Animation] (C++ and OpenGL)
                    br 
                    | Building an animation engine that reads skeleton and mesh files and renders animations from scratch.
                  li #[strong Optimization and vectorization] (C++)
                    br 
                    | Speeding up programs by making better use of the hardware.
                  li #[strong Advanced Graphics] (C++)
                    br 
                    | Advanced path tracer and ray tracing techniques.
                  li #[strong Game Physics] (C++)
                    br 
                    | Rigid body, Soft body and constraints simulations.
                  li #[strong Motion and manipulation] (Python via socket to Unity C#)
                    br 
                    | Building an automatic virtual 2D tabletennis robot competing against other tabletennis robots. Incremental (Inverse) kinematics
                  li #[strong Mobile interaction] (Unity C#) 
                    br 
                    | Performed research on user orientation via audio only in 3DOF "VR" on a mobile phone.
                  li #[strong Scientific Perspectives]
                    br 
                    | Performing a weekly research with different requirements.
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#').div-img-top
                picture
                  source(srcset="/images/logo-uu-chem.webp" type="image/webp")
                  img.card-img-top(src='/images/logo-uu-chem.png' type="image/png" alt='Utrecht University Bachelor Chemistry logo')  
              .card-body
                h4.card-title Bachelor Chemistry
                h5.date September 2014 - July 2017
                p.card-text
                  ul
                    li Minor in Nanomaterials
                    li Minor in Computer Sciences (1.5 years)
                    li Focus on Inorganic, Analytical and Physical Chemistry
                    li Analytical practical experience with: 
                       | FTIR, Mass Spectrometry (MS), Gas Chromatography (GC), HPLC, Electron Microscopy (TEM/SEM), AAS, UV-VIS and NMR.
                  | Courses I have taken include: 
                  | Nanomaterials, Quantumchemistry, Structure of matter, Solids and surfaces, Physical Chemistry 1, 2 and Advanced Physical Chemistry,
                  | Spectroscopy, X-ray Diffraction and Electronmicroscopy, Mass Spectrometry, NMR-spectroscopy and molecular modelling, Catalysis, Mathematics and Physics 1 and 2
                br
                h4.card-title Minor Computer science
                h5.gpa GPA 4.0/4.0
                h5.date September 2017 - Jan 2019
                p.
                  I have done 1,5 years of the Computer Science Bachelor as a minor on top of 3 years chemistry (4.5 years total).
                ul
                  li Image processing (C#)
                  li Webtechnology (NodeJS, Javascript, HTML/CSS)
                  li Computer Architecture and Networks
                  li Game programming (C#)
                  li Databases (SQLite)
                  li Graphics (C# and OpenGL)
                  li Datastructures (C#)
                  li Functional Programming (Haskell)
                  li Logics for Informatics

      section.work-overview
        h1 Why did I study all this?
        div(style="text-align:center;")
          p.
            Satyaki Mallick (see Youtube) asked me for this interview. In it I explain what my goal is, and why I switched from Chemistry to Computer Science, Game and Media Technology and Robotics.
          iframe(type='text/html' allowfullscreen height="280px" width="500px" float
            src='http://www.youtube.com/embed/bxFtxmsjzZo?playlist=bxFtxmsjzZo&autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/'
            frameborder='0')
        //- section.work-overview
       

      section.work-overview
        h1 Working Experience
      section.work-overview
        h2 Fair2Media
          br
          small May 2019 - August 2019
        p.
          Filling the time between bachelor and master, I worked on the Ditou table at Fair2Media. 
          Fair2Media is a small company with total of 5 people (excluding me). 
          The Ditou table is an interactive table where a beamer projects a map of real places via Unity. 
          On this map, you move round disks as a cursor to place objects such as windmills and solar panels.
          The round disks are tracked by a camera above the table. 
          My responsibility was to develop a new tracking algorithm for round disks on the Ditou table (C++ and OpenCV), and to make an environment in Unity loading, customizing and saving the map. 
          Thereby, by using the tracked positions, 3D windmills and solar panels could be built on the map. Before I started, there was a table, a camera and a beamer. The previous solution they had, used infrared lights on battery charged disks to track them.
          So the entire tracking and also the map projection on the table was built from the ground up.
          The tracking and Unity environment communicated via NodeJS. 
          The table is currently used to demonstrate the outcomes for building windmills and solar panels for citizens’ initiatives. 

        div(style="text-align:center;")
          div
            iframe(type='text/html' allowfullscreen height="280px" width="500px" float
                src='http://www.youtube.com/embed/wf3DLiy3XF4?playlist=wf3DLiy3XF4&autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/'
                frameborder='0')
            iframe(type='text/html' allowfullscreen height="280px" width="500px" float
                src='http://www.youtube.com/embed/eYNzEfUc6vM?playlist=eYNzEfUc6vM&autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/'
                frameborder='0')               
            //- video(autoplay loop controls muted playsinline height="280px" width="500px" float)
                //- source(src="/videos/FAIR2-Media-Ditou-table.webm" type="video/webm")
                //- source(src="/videos/FAIR2-Media-Ditou-table.mp4" type="video/mp4") 


      section.work-overview
        h2 Utrecht University - Werfkracht, Freudenthal Institute
          br
          small September 2017 - February 2019
        p
          |The Werfkracht project was built to get students in touch with education. It consists of working an average of four hours a week on diverse activities for secondairy school students.
          |Examples are: 
          ul 
            li Translating the Kangaroo Mathematics competition for the visually disabled. 
            li Helping organize and assisting at conferences such as the Woudschoten Chemie beurs and Research Funding Days.
            li Assisting in multiple U-talent workshops. The U-talent courses are available for secondary school students that perform outstandingly well and want to take additional lessons in a wide variety of subjects. 
               | This includes the Arduino, Simulation and games and Music programming workshops below.
               | Below I will highlight some of the projects I worked on.

      section.work-overview
        .row
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#').div-img-top
                picture
                  source(srcset="/images/Arduino-collage.webp" type="image/webp")
                  img.card-img-top(src='/images/Arduino-collage.jpg' type="image/jpeg" alt='Arduino U-talent projects in the workshop')  
              .card-body
                div.upper-content
                  h4.card-title Arduino workshops
                  p.card-text.
                    In this workshop secondary school students learn the fundamentals of Arduino. On day one they learn the basics by doing three projects from the Arduino starters kit book.
                    After gaining some experience, they think of a project they want to make. 
                    They come up with amazing ideas like a "high five robot", laser vault protection system, velocity sensor or infra red remote controlled robots.
                    At home, they start working on their ideas in the online Tinkercad environment. On the second day, they build their projects and solve the remaining bugs.
                    It is always a joy to help in these workshops, since after this workshop they have built something amazing, while they generally have never programmed before.
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#').div-img-top
                picture
                  source(srcset="/images/unity.webp" type="image/webp")
                  img.card-img-top(src='/images/unity.jpg' type="image/jpeg" alt='Unity Simulation and Games')
              .card-body
                div.upper-content
                  h4.card-title  Simulation and Games in Unity
                  p.card-text.
                    This workshop teaches secondary school students with generally no programming experience to make simulations and games with the Unity engine. 
                    As a preparation the students follow the Unity tutorials. 
                    On the first day they make a rabbit population simulator by adding random movement, collision, reproduction and death. 
                    A predator and food is then added to the simulation.
                    They think about a simulation or game they want to make at home and start working on it. They finish it the second workshop day.
                    During these workshops I guided students as a teaching assistent.  
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#').div-img-top
                div.iframe-container 
                  <iframe src="https://www.youtube.com/embed/v8pd4UzvIew?playlist=v8pd4UzvIew&autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/" frameborder="0" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" id="iFrame1"></iframe>
              .card-body
                div.upper-content
                  h4.card-title Music Programming
                  p.card-text.
                    In music programming, secondary school students learn programming, by programming their own song. 
                    In Sonic Pi they learn the basic principles of loops, methods and threads. It uses a programming language based on Ruby.
                    To accompany their song, they also program an animation in Processing, which touches briefly on classes. 
                    This is a programming language related to Java.
                    After these workshop, they have made a full music video using code.
                    During these workshops I guided students as a teaching assistent.  
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#').div-img-top
                 div.iframe-container
                  <iframe src="https://www.youtube.com/embed/yMgKDpvvL-w?playlist=yMgKDpvvL-w&autoplay=1&loop=1&mute=1&playsinline=1&origin=http://www.amberelferink.com/" frameborder="0" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" id="iFrame1"></iframe>
              .card-body
                div.upper-content
                  h4.card-title
                    a(href='#') Gass Chromatography practicals
                  p.card-text.
                    Since I have done the chemistry bachelor, I also assisted in chemistry practicals.
                    The gas chromatography (GC) practical was designed to enthuse secondary school students about chemistry.
                    Secondary schools usually do not have expensive apparatus such as a GC. 
                    To give them experience with that, two students from Utrecht University are given a rental car and the equipment.
                    They drive to the school, set up the equipment and give a presentation on the subject of catalysis and GC.
                    The students then have a palladium, platinum, copper catalysts and as a control only the support: aluminium oxide. 
                    They then test how well these catalysts work for burning methane by looking at the end products with the GC.
                    With one other student I transported the GC with equipment by rental car, and installed it at the secondary school. 
                    We presented, assisted students with the measurements and answered students with questions.
      section.work-overview
          h2 Utrecht University - Logics course assistant, Departement Informatics
            br
            small November 2018 - January 2019
          p
            | These lessons are part of a first year course in the Informatics Bachelor. 
            | I assisted this course, which means answering their questions about homework in dedicated hours throughout the week.
            | Additionally, they were required to do a minitest every friday, to which I explained the answers afterwards.
            | Topics include
          ul
            li (Infinite) Sets and relations
            li Truth tables
            li Proof and semantics with predicate logics (Natural deduction, Hilberts system, CNF, DNF, normal forms, etc)
            li Prolog
      section.work-overview
          h2 Content creator - KRO-NCRV - Volunteer
            br
            small November 2015 - March 2016
          p
          | For the scientific television program for children, Willem Wever, I have worked behind the scenes to make the content.
          | The activities consisted of:
          ul
            li proposing subjects and experiments to perform on television.
            li advising the moderators about the correct explanation of the content.
          p
          | The episodes with content were displayed on the Dutch television starting April 2016.
      section.work-overview
          h2 Topselect Groep BV
            br
            small Nov 2014 - July 2018
          p.
            Various tasks within University Utrecht: 
          ul
            li Informing pupils (secondary school) about the study chemistry.
            li Laboratory assistant for secondary school pupils during their laboratory experiments, including the Chemistry Olympiad.
            li Contacting potential participants for research.
            li Helping with setup of symposia and welcoming participants
      section.work-overview
          h2 De Wolkenfietser - Bicycle repair shop
            br           
            small Jan 2011 - October 2011
          p.
            When I was in high school I was interested in technology and wanted to gain some hands-on experience.
            I repaired bicycles every week in a local bicycle repair shop. 